.button, .option, .options {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    width: 150px;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }



.button {
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
}

.option {
    background-color: white;
}

.options {
    border: 1px solid rgb(114, 114, 114);
}

.button:hover, .option:hover  {
    filter: brightness(90%);
}

.carousel {
    height: 230px;
    width: 500px;
    margin-top: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.images {
    overflow: hidden;
    width: 400px;
    display: flex;
    justify-content: center;
}

.selector {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.dot {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 15px;
    width: 15px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
  }

  .active {
    background-color: black;
  }